@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Exo:wght@800&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 100vh);
}

.background-title,
.h3Title {
    grid-row: 1/2;
}

.background-title h1 {
    transform: rotate(270deg);
    transform-origin: 5% 4%;
    text-shadow: 0 0 0.1rem #302c31;
    left: 87.5%;
    top: 75%;
}

.h3Title h3 {
    top: 16%;
    left: -9.8%;
    display: inline-block;
}

.background-title h1,
.h3Title h3 {
    font-size: 3rem;
    position: relative;
}

.h3Title h3:last-child,
p,
a {
    color: #302c31;
}

.retrato {
    grid-row: 2/-1;
}

.background-title,
.retrato {
    grid-column: 1/3;
    background-color: #302c31;
}

#icon {
    top: 48rem;
}

#icon,
#icon2 {
    font-weight: 600;
    font-size: 3rem;
    margin: 0 1rem;
    position: absolute;
}

#icon2 {
    top: 99.8rem;
}

#icon:hover,
#icon2:hover {
    cursor: pointer;
    text-shadow: 0 0 .2rem #e2dad0;
}

body {
    overflow: hidden;
}

#icon,
#icon2,
figcaption,
.background-title,
.h3Title h3:first-child {
    color: #e2dad0;
}

.pic {
    background-image: linear-gradient( rgba(48, 44, 49, 0.5), rgba(48, 44, 49, 0.5)), url(./pics/retrato\ fran\ 2\ def\ def.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.6px);
    width: 100%;
}

section,
.h3Title {
    grid-column: 3/-1;
    background-color: #e2dad0;
}

h1,
h2,
h3 {
    font-family: "Exo", sans-serif;
}

p,
figcaption,
a {
    font-family: "Didact Gothic", sans-serif;
}

figcaption {
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-size: 2rem;
    text-align: center;
    padding: 4rem;
}

.contacto,
.proyectos {
    margin: 4rem;
    display: inline-block;
    box-shadow: .1rem .1rem .1rem #302c31;
    border-radius: 1rem;
    padding: 2rem;
}

.contacto li,
.proyectos li {
    list-style: none;
}

a {
    text-decoration: none;
}

article,
.pic {
    height: 20rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
}


/* @media (min-width:300px) and (max-width:500px) {
    .background-title h1,
    .h3Title h3 {
        font-size: 1.5rem;
        position: relative;
    }
    .background-title h1 {
        transform: rotate(270deg);
        transform-origin: 5% 4%;
        left: 70%;
        top: 56%;
        width: 100vw;
    }
} */